.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2.5em;
}

.author {
  margin-right: 3.5em;
}

.options {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.option {
  margin-bottom: 40px;
  background-color: burlywood;
  height: 82px;
  display: flex;
  align-items: center;
  width: 600px;
  padding: 25px;
  box-sizing: border-box;
  cursor: pointer;
}

.selected {
  border: 3px solid black;
}

.quizz {
  background-color: rgb(200, 200, 200);
}

.quizz-correct {
  background-color: green;
}

.quizz-wrong {
  background-color: red;
}
